@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600|Quicksand:300,400,500&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    --text-high: #ffffffc1;
    --text-med: #ffffff60;
    --text-low: #ffffff26;
    --dark-gray: #1c1c1e;
    --gray: #333335;
    --off-white: #ecf2f8;
    --off-white-secondary: #ecf2f8af;
    --primary: #f39c12;
    --btn-primary-hover: #f37312;
    --btn-transition: 0.3s;
}

body {
    list-style: none;
    text-decoration: none;

    background-color: var(--dark-gray);
    color: var(--text-high);

    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;

    max-width: 80vw;
    margin: 0 auto;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 450%;
    line-height: 95%; /* Set font margins 0*/
    margin-bottom: 30px;

    opacity: 0.8;
    color: var(--off-white);
    text-transform: uppercase;
}

a {
    color: var(--off-white);
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 200%;
    line-height: 95%;

    opacity: 0.8;
    color: var(--off-white);
    text-transform: uppercase;
}
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
}

.btn {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 100%;

    border: none;
    border-radius: 4px;

    padding: 1% 5%;

    outline: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    color: var(--off-white);
    background-color: var(--gray);
}

/**
* =============== REUSABLE =================
*/

/* Underline */
.underline:after {
    content: " ";
    display: block;
    width: 150px;
    background-color: var(--primary);
    height: 4px;
    margin-bottom: 50px;
    margin-top: 20px;
}

/**
* ====================================
---------------- HEADER --------------
 =====================================
*/

header {
    height: 100vh;
}

/* Hero image */
header:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.85;
    background-image: url(assets/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.header--nav {
    margin: 30px 0 60px 0px;
    text-align: right;
}

.header--nav li {
    display: inline-block;
}

.header--nav a {
    text-transform: uppercase;
    font-size: 90%;
    color: var(--off-white-secondary);
    padding: 5px 20px;
    background-color: transparent;
    transition: background-color var(--btn-transition);
}

.header--nav a:hover {
    background-color: var(--gray);
}

.subtitle {
    font-size: 100%;
    margin-bottom: 60px;
    line-height: 140%;
    max-width: 40vw;
}

.subtitle div {
    display: flex;
    flex-direction: row;
}

.subtitle div:first-child {
    padding-bottom: 3%;
}

.subtitle--icon {
    font-size: 120%;
    margin-right: 3%;
}

.header--skillset {
    width: 280px;
}

.header--buttons {
    margin-top: 50px;
}

.header--cta-btn {
    background-color: var(--primary);
    color: var(--off-white);
    margin-right: 10px;
    transition: background-color var(--btn-transition);
}

.header--cta-btn:hover {
    background-color: var(--btn-primary-hover);
}

.header--contact-btn {
    background-color: transparent;
    transition: background-color var(--btn-transition);
}

.header--contact-btn:hover {
    background-color: var(--gray);
}

.icon {
    width: 24px;
    vertical-align: -10%;
}

.contact-icon {
    margin-right: 15px;
}

.download-icon {
    margin-right: 5px;
}

.scroll-indicator {
    position: absolute;
    left: 50vw;
    bottom: 30px;
    height: 24px;
}

/* ===============================
---------- SKILLS & TOOLS --------
==================================
 */

.skills--container {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 3% 4%;
    margin-bottom: 100px;
}

.skills--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* remove margin from last item */
.skills--container .skills--item:last-child {
    margin-bottom: 0;
}

.skills--item h4 {
    display: block;

    text-align: right;
    font-weight: 400;
    text-transform: uppercase;

    margin-right: 30px;
    margin-bottom: 10px;
    min-width: 15%;
}

.skills--item p {
    background-color: var(--dark-gray);
    font-size: 80%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* =========================================
------------------- PROJECTS ------------------
 =========================================*/

.project-item {
    background-color: var(--gray);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 30px;
    margin-bottom: 50px;
}

.project--desc-item {
    margin-bottom: 15px;
}

.project--desc-item h4 {
    font-weight: 400;
    margin-bottom: 5px;
}

.project--desc-item p {
    text-align: justify;
}
.project--desc-item p,
.project--desc-item li {
    color: var(--off-white-secondary);
    font-size: 85%;
    line-height: 150%;
}

.project--desc-item li::before {
    content: "•";
    margin-right: 10px;
}

.project-item--header {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.project-item--header h3 {
    font-weight: 400;
    font-size: 130%;
}

.project-item--left {
    width: 48%;
    margin-right: 3%;
}

.project-item--right {
    width: 48%;
}

.project-item--video {
    width: 100%;
    padding-bottom: 58%;
    position: relative;
    margin-bottom: 15px;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.project-item--img {
    border-radius: 5px;
    max-width: 100%;

    background-color: var(--dark-gray);
    padding: 10px;
    margin-bottom: 15px;
}

.project-tags {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.project-tags li {
    font-size: 80%;

    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 15px;

    border-radius: 5px;
    background-color: var(--dark-gray);
}

.project-buttons {
    text-align: center;
    color: var(--off-white);
}

.project-buttons .btn {
    padding: 2% 10%;
}

.btn__demo {
    background-color: var(--primary);
    margin-right: 10px;
    transition: background-color var(--btn-transition);
}

.btn__demo:hover {
    background-color: var(--btn-primary-hover);
}

.btn__source {
    transition: background-color var(--btn-transition);
}

.btn__source:hover {
    background-color: var(--text-low);
}

/* =========================================
------------------- CONTACT ------------------
 =========================================*/

.contact--info a {
    color: var(--primary);
    transition: color var(--btn-transition), border-bottom var(--btn-transition);
}

.contact--info a:hover {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.contact--info {
    margin-bottom: 50px;
}

/* =========================================
------------------- FOOTER ------------------
 =========================================*/
footer {
    opacity: 0.75;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 90%;
}

.footer {
    color: var(--primary);
}

/* ================================================== */
/* =================== MEDIA QUERIES ================= */
/* ================================================== */

/* From big table to 1200px: for width smaller than pixel row */
@media only screen and (max-width: 1200px) {
    body {
        font-size: 18px;
    }
}

/* Small table to big tablet: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 16px;
    }
}

/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body {
        text-align: center;
        font-size: 16px;
    }

    h1 {
        line-height: 80px;
    }

    .header--nav {
        font-size: 120%;
        text-align: center;
        margin-bottom: 40px;
    }

    .underline:after {
        width: 100px;
        height: 3px;
        margin-left: auto;
        margin-right: auto;
    }

    .header--buttons {
        margin-left: 10px;
        margin-right: 10px;
    }

    .header--buttons a {
        display: block;
        margin: 10px auto;
        padding: 15px;
    }

    .header--skillset {
        width: 240px;
    }

    header:before {
        opacity: 0.35;
    }

    .scroll-indicator {
        display: none;
    }

    .subtitle {
        max-width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    .subtitle div {
        flex-direction: column;
    }

    .subtitle div:first-child {
        margin-bottom: 20px;
    }

    .subtitle--icon {
        font-size: 150%;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .skills--item {
        flex-direction: column;
        margin-bottom: 0;
    }

    .item-container {
        justify-content: center;
    }

    .item-container p {
        margin-right: 5px;
    }

    .skills--item h4 {
        width: auto;
        text-align: center;
        margin: 10px 0;
    }

    .skills--item p {
        font-size: 75%;
        margin-bottom: 5px;
    }

    .skills--container {
        padding: 30px 20px;
    }

    .project-item--left,
    .project-item--right {
        width: 100%;
    }

    .project-item--left {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .project-tags {
        margin-bottom: 20px;
    }

    .project--desc-item p {
        text-align: center;
    }

    .project-tags li {
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .project-item--video {
        height: 60%;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
}
